.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    margin:5px;
}

.btn_primary{
    background-color: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary);
}

.btn_outline{
    background-color: transparent;
    color: black;
    border: 1px solid var(--color-primary);
    transition: all ease-out 0.1s;
}

.btn_small{
    padding: 5px 15px;
    font-size: 15px;
}

.btn_medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn_large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn_outline:hover{
    background: var(--color-primary);
    color: var(--white);
}

.btn_primary:hover
{
    background-color: var(--color-primary);
}