.navbar{
    width: var(--sidebar-width);
    min-height:  calc(100vh - var(--navbar-height));
    height: 100%;
    background-color: var(--color-container);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(122, 122, 122, 0.219);
    /* border-radius: 5px; */
}

.children
{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    /* padding: 20px; */
    margin-top: calc(var(--navbar-height));
    height:calc(var(100vh - var(--navbar-height)));
    overflow-y: scroll;
    flex-grow:2;
    background-color:var(--color-bg-primary);
}

.logo{
    height: 100%;
}
.nav:nth-child(2){
    flex-grow: 1;
}

.nav{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.nav_item{
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: all .1s ease-in-out;
    transition-property: background-color transform;
}

.selected{
    background-color: var(--color-primary);
    color:#fff;
}

.selected .icon{
    color: white !important;
}

.icon{
    color: green;
}

.nav_item:hover{
    background-color: var(--color-primary);
    color:#fff;
}


.nav_item:hover .icon{
    color:#fff;
}

.nav_item i{
    margin: 0 15px;
    font-size: 1.3em;
    font-weight: 100;
}

